# European Soccer Database
<p>this is dataset overview which i will be used for this project.</p>
<h2>Data overview</h2>
<br>
<table align="left">
    <th>Table</th><th>Total Rows</th><th>Total Columns</th>
    <tr><td>Country</td><td>11</td><td>2</td></tr>
    <tr><td>League</td><td>11</td><td>3</td></tr>
    <tr><td>Match</td><td>25979</td><td>115</td></tr>
    <tr><td>Player</td><td>11060</td><td>7</td></tr>
    <tr><td>Player_Attributes</td><td>183978</td><td>42</td></tr>
    <tr><td>Team</td><td>299</td><td>5</td></tr>
    <tr><td>Team_Attributes</td><td>1458</td><td>25</td></tr>
</table>

In [20]:
!pip install ipython-sql
## used for to write a sql query in jupyter notebook

In [21]:
import numpy as np 
import pandas as pd 
import sqlite3
import matplotlib.pyplot as plt

### first way to read this data

In [21]:
conn = sqlite3.connect('database.sqlite/database.sqlite')
cursor = conn.cursor()
query = "select * from country ;"
result  = cursor.execute(query)
country= result.fetchall()
country

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy'),
 (13274, 'Netherlands'),
 (15722, 'Poland'),
 (17642, 'Portugal'),
 (19694, 'Scotland'),
 (21518, 'Spain'),
 (24558, 'Switzerland')]

## second way to read this data

In [8]:
database_path = 'database.sqlite/database.sqlite'

In [9]:
conn = sqlite3.connect(database_path)

In [10]:
tables = pd.read_sql("""SELECT *
                        FROM Team;""", conn)
tables

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [16]:
type(tables)

pandas.core.frame.DataFrame

## Third way to access database

In [22]:
%load_ext sql   # load sql extension to write the sql query in jupyter notebook
%sql sqlite:///database.sqlite/database.sqlite     # sepecify the file path

ModuleNotFoundError: No module named 'sql   # load sql extension to write the sql query in jupyter notebook'

In [18]:
%%sql    
select * from Player limit 5;

 * sqlite:///database.sqlite/database.sqlite
Done.

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)]

In [11]:
%%sql
select * from Player limit 5;

 * sqlite:///database.sqlite/database.sqlite
Done.

[(1, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492473, 9987, 9993, 1, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.73, 3.4, 5, 1.75, 3.35, 4.2, 1.85, 3.2, 3.5, 1.8, 3.3, 3.75, None, None, None, 1.7, 3.3, 4.33, 1.9, 3.3, 4, 1.65, 3.4, 4.5, 1.78, 3.25, 4, 1.73, 3.4, 4.2),
 (2, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492474, 10000, 9994, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.95, 3.2, 3.6, 1.8, 3.3, 3.95, 1.9, 3.2, 3.5, 1.9, 3.2, 3.5, None, None, None, 1.83, 3.3, 3.6, 1.95, 3.3, 3.8, 2, 3.25, 3.25, 1.85, 3.25, 3.75, 1.91, 3.25, 3.6),
 (3, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492475, 9984, 8635, 0, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.38, 3.3, 2.75, 2.4, 3.3, 2.55, 2.6, 3.1, 2.3, 2.5, 3.2, 2.5, None, None, None, 2.5, 3.25, 2.4, 2.63, 3.3, 2.5, 2.35, 3.25, 2.65, 2.5, 3.2, 2.5, 2.3, 3.2, 2.75),
 (4, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.4, 4, 6.8, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.5, 3.75, 5.5, 1.44, 3.75, 6.5),
 (5, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492477, 7947, 9985, 1, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5, 3.5, 1.65, 5, 3.5, 1.6, 4, 3.3, 1.7, 4, 3.4, 1.72, None, None, None, 4.2, 3.4, 1.7, 4.5, 3.5, 1.73, 4.5, 3.4, 1.65, 4.5, 3.5, 1.65, 4.75, 3.3, 1.67)]

In [14]:
%%sql
select * from Player limit 5;

 * sqlite:///database.sqlite/database.sqlite
Done.

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)]